.login {
  background-color: #64a382;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login__logo {
  object-fit: contain;
  height: 80vh;
}

.login button{
  margin: 10px;
}